@import "styles/utils/colors.css";

.amount {
  font-weight: 600;
}

.icon {
  margin-right: 0.25rem;
}

.passing {
  stroke: var(--success);
}

.pending {
  stroke: var(--warn);
}

.failure {
  stroke: var(--error);
}

.typeText {
  text-transform: uppercase;
}

.label {
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.small {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: var(--text);
  width: 65px;
}

.small .amount {
  font-weight: 400;
}

.large {
  text-align: center;
}

.large .amount {
  font-size: 2.25rem;
}

.large .label {
  justify-content: center;
}

.large .icon {
  margin-right: 0.4rem;
}
