@import "styles/utils/colors.css";

.amount {
  font-weight: 600;
}

.inactive .passing {
  stroke: color(var(--success) blackness(20%));
}

.inactive .pending {
  stroke: color(var(--warn) blackness(5%));
}

.inactive .failure {
  stroke: color(var(--error) blackness(10%));
}

.typeText {
  text-transform: uppercase;
}

.passing {
  stroke: var(--success);
}

.pending {
  stroke: var(--warn);
}

.failure {
  stroke: var(--error);
}

.label {
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.small {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  width: 65px;
  font-size: 0.825rem;
}

.small .amount {
  font-weight: 400;
  margin-bottom: 4px;
}

.large {
  text-align: center;
  transition: background 0.1s;
}

.inactive {
  background-color: var(--lite-grey);
}

.large .amount {
  font-size: 2.25rem;
}

.large .label {
  justify-content: center;
}

.large .icon {
  transition: stroke 0.1s;
  margin-right: 0.4rem;
}
