.base {
  padding: 0.5rem;
}

.main {
  margin-top: 0.25rem;
  height: calc(100vh - 1.5rem);
  background: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}

.trayTriangle {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #fff;
}
