@import "styles/utils/colors.css";

.status {
  display: flex;
  justify-content: space-between;
  background: var(--lite-grey);
  border: 1px solid var(--border);
  color: var(--dark-text);
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  padding: 0.5rem 1.25rem;
}

.testList {
  background-color: var(--lite-grey);
  height: calc(100vh - 190px);
}

.testListItem {
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.25rem;
  align-items: flex-start;
}

.testTitle {
  display: flex;
  align-items: flex-start;
}

.testIcon {
  width: auto;
}

.fullTitle {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.duration {
  font-size: 0.75rem;
  margin-top: 0.3rem;
}

.total span {
  font-weight: 600;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats > div {
  padding: 0.75rem 3rem 1.3rem;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.stats > div:last-child {
  border-right: 0;
}
